body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg,rgb(65, 65, 60)25%, white );
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.sidebar .logo{
    display: inline-block;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
    animation: rotateLogo 6s linear infinite;
    background-color: none;
}
.sidebar .logo:hover{
    background-color: none;
}
@keyframes rotateLogo {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        color: white;
        transform: rotateY(360deg);
    }
}
.sidebar  #btn{
    color: black;
    font-size: 20px;
    margin: 10px;
    line-height: 20px;

}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px; 
    background-color: rgb(248, 171, 4);
    justify-content: center;
    color: #fff;
    padding: 20px;
    transition: width 0.5s; 
}
.sidebar.active {
    width: 250px;  
}
.sidebar a {
    color: #000000;
    text-decoration: none;
    justify-content: center;
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
}
.sidebar a i {
    font-size: 20px;
    display: inline;
    margin-left: 8px;
    line-height: 40px;  
    text-align: center;
    justify-content: center;
}
.sidebar a i:hover{
  background-color: #fff;
  border: 7px;
  border-radius: 30px;
  margin-left: 9px;
  padding: 5px 6px;
  transition: all .3s ease;
}
.sidebar a span {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 50px;
    margin: 20px;
    display: none;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}
.sidebar a span:hover{
    background-color: #fff;
  border: 5px;
  border-radius: 50px;
  margin-left: 8px;
  padding: 5px 6px;
  transition: all .3s ease;
}
.sidebar.active a i {
    display: none;
}
.sidebar.active a span {
    display: inline;
}
.sidebar a:hover {
    border: 6px;
    border-radius: 50px;
    background-color: #ffffff;
    justify-content: center;
}
.content {
    margin-left: 90px; 
    padding: 40px;
    transition: margin-left 0.5s;  
}
.content.active {
    margin-left: 280px;
}
.account{
    padding-top: 5px;
    height: 100vh;
    margin: 0 0;
    /* display: block; */
}
.account .container{
    margin-top: 20px;
    padding-top: 20px;
}
.content h1{
    text-transform: uppercase;
    display: inline;
}
.account form {
    margin-top: 20px;
    margin: 5px 5px;
    padding: 0;
}
.account label {
    display: block;
    margin-top: 10px;
}
.account  input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.account  input[type="submit"] {
    background-color: rgb(248, 171, 4);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}
.account  input[type="submit"]:hover {
    background-color: rgb(199, 142, 17);
}
.reviews{
    padding-top: 5px;
    height: 100vh;
    display: block;
    
}
.services{
    padding-top: 5px;
    height: 100vh;
    display: block;
}
.appointments{
    padding-top: 5px;
    height: 100vh;
    display: block;
}
.appointmentHistory{
    padding-top: 5px;
    height: 100vh;
    display: block;   
}
.complaints{
    padding-top: 5px;
    height: 100vh;
    display: block;
}
@media (max-width: 768px) {
    /* Adjust styles for small screens */
    .content .container{
        display: flexbox;
    }
    
}

@media (max-width: 480px) {
    body{
        background: linear-gradient(1deg,rgb(65, 65, 60) 50%,white)
    }
     .sidebar{
        width: 20px;
     }
     .sidebar a i{
    
        margin-left: 2px;
     }
     .sidebar a i:hover{
        border: 2px;
        border-radius: -5px;
        padding: 2px 2px;
        /* margin-left: 2px; */
        margin-right: 2px;
     }
     .sidebar a span{
        font-size: 13px;
        font-weight: 400;
     }
     .sidebar a span:hover{
        border: 5px;
        padding: 2px 2px;

     }
     
    .sidebar.active{
        width: 200px;
    }
    .content {
        margin-left: 14px; 
        padding: 50px;
       transition: margin-left 0.5s;
    }
    .content.active{
        margin-left: 250px;
        padding: 15px;
    }
    .account .container{
        margin-top: 8px;
        padding-top: 8px;
    }
     .account h1{
        padding-top: 5px;
        font-size: 17px;
        white-space: normal; 
        text-overflow: clip;
     }
    .account form{
        font-size: 14px; 
        padding: 5px 5px; 
    }
     .account input[type="text"],
     .account input[type="email"],
     .account input[type="password"]{
        width: 100%;
        height: 30px;
        padding: 0;
        margin: 5px 0;
     }

    }
    #cityName{
        display: block;
        /* padding-bottom: 10px; */
        margin-bottom: 20px;
        border: 3px;
        border-radius: 3px;
        padding: 10px;
        width: 100%;
        display: block;
    }
    /* .services button{
        /* background:  rgb(248, 171, 4); */
     
   /* .services select{
    font-size: 17px;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.services .container{
    margin-top: 8px;
    padding-top: 8px;
} */

/* @media (max-width: 480px) {
    .services h1{
        font-size: 15px;
    }
    .services .container{
        margin-top: 8px;
        padding-top: 8px;
    }
} */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Style for the delete and update buttons */
li button {
    margin-left: 10px; /* Adjust the margin as needed */
    padding: 5px 10px;
    cursor: pointer;
    background-color: #dc3545; /* Red color for delete button */
    color: #fff; /* White text color for delete button */
    border: none;
    border-radius: 5px;

}

/* Additional styling to create space between the buttons and the list item text */
li span {
    margin-right: 10px; /* Adjust the margin as needed */
    border: none;
}
.service-item {
    margin-bottom: 10px; /* Add margin between list items */
    border: none;
}

.service-price {
    color: #333; /* Change color to make price stand out */
    font-weight: bold; /* Optionally, make the price bold */
}
.service-item {
    margin-bottom: 20px; /* Add margin between list items */

}

.update-button {
    background-color: rgb(61, 150, 61); /* Style update button green */
    color: white;
    float: right;
    margin-left: 10px; /* Add spacing between buttons */
}
.update-button:hover{
    background-color: rgb(52, 114, 52);
}

.delete-button {
    background-color: rgb(168, 25, 25); /* Style delete button red */
    color: white;
    float: right;
    margin-left: 10px; /* Add spacing between buttons */
}
.delete-button:hover{
    background-color: rgb(146, 30, 30);
}




    



   
    




   
